apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: agent-releases-pvc
  namespace: agent-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-client
